.container {display: flex; 
            flex-direction: row;
            align-content: flex-end;
            }

.column3 { margin: 0px; }

.column1 { margin: 300px; }

.colum21 { margin: 150px; }
          
