/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
}
@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;    
    } 
    header, 
    footer {
        width: 100%;
    }  
    main {
        flex: 3;
        order: 2;
        min-height: 80vh;
    } 
    .left-sidebar {
        order: 1;
        flex: 0.5;
    }
    .right-sidebar {
        flex: 0.5;
        order: 3;
    }
    footer {
        order: 4;
    }
}
/* COLORS and FONTS */
body {
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 3;
}
header {
    background: white;
}
main {
    background: white;
}
footer {
    background: gray;
}
.left-sidebar {
    background: lightgray;
}
.right-sidebar {
    background: lightgray;
}







.title {
  text-align: left;
  margin-left: 20px; 
  font-family: 'Nimbus Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: black;
}

.left-sidebar nav ul {
    list-style-type: none; /* Rimuove i bullet points */
    text-align: left;
    margin-left: 20px; 
}

.left-sidebar nav ul li a {
    color: black; /* Imposta il colore del testo */
    text-decoration: none; /* Rimuove il sottolineato dai link */
    font-family: 'Nimbus Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

main img {
  display: block;
  margin: 0 auto; /* Centra l'immagine orizzontalmente */
  max-width: 100%; /* Assicurati che l'immagine non superi la larghezza del contenitore */
  width: 70%; /* Imposta la larghezza dell'immagine al 50% del contenitore */
  height: auto; /* Mantiene il rapporto aspetto originale dell'immagine */
}




