* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

hr {
  
 background-color: lightgray;
  height: 2px;
  border: 0;
  border-radius: 1px;
}


html::-webkit-scrollbar {
width: 10px;

}

html::-webkit-scrollbar-track {
background: white;

}
html::-webkit-scrollbar-thumb {
background: lightgray;
border-radius: 10px;

}


.container {
    margin: 0;
    color: white;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100vw; /* Occupa tutta la larghezza disponibile */
    
	display: flex;
  flex-direction: column;
  max-width: 100%;
  
 
	} 
	
	  
    header {
        background: transparent;
		height: 75px; /* Altezza desiderata per l'header */
      text-align: center;
	  padding: 24.7px;
	  position: fixed;
	z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */  
	
  }
  
  
    footer {
        background: transparent;
		height: 75px; /* Altezza desiderata per l'header */
      text-align: center;
	  padding: 24.7px;
	   position: fixed;
	z-index: 1; /* Stay on top */
    bottom: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */  
	  
  }
  
   		
 main {
    background: white;
	justify-content: center; /* Allinea orizzontalmente */
    align-items: center; /* Allinea verticalmente */
	display: flex;
	flex-direction: column;
	margin-top: 75px; 
	margin-bottom: 75px;
	max-width: 95vw;
	
	
}

 main-studio {
    background: white;
	justify-content: center; 
    align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 75px; /* cambiare margine alto */
	margin-bottom: 75px; /* margine basso */
	max-width: 95vw;
	
	
}

	    
.left-sidebar {
    background: transparent;
    justify-content: center;
    align-items: center;
    width: 100vw;
	position: fixed;
	z-index: 1; /* Stay on top */
    bottom: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */  
	
}

.right-sidebar {
    
	background: transparent;

	overflow-x: hidden; /* Disable horizontal scroll */  
}


.title {
  font-family: 'Nimbus Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 800;
  color: black;
  text-align: center;
     }


.title-2 {
  font-family: 'Nimbus Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 800;
  color: black;
  text-align: center;

     }



  .navigation {
    list-style: none;
    padding: 0;
  }
  .navigation li a {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 15px;
    font-family: 'Nimbus Sans', sans-serif;
	  letter-spacing: 0.5px;
    font-size: 16px;
    font-weight:600;
    text-align: left;
  }
  
  
  
  #burgermenù img {
  width: 40px;
  height: 40px;
  display: block;
 margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}


 #burgermenùprojects img {
  width: 40px;
  height: 40px;
  display: block;
 margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
   
}

  


  .left-sidebar ul {
    display: none;
  }
   

 .gallery {
	 display: flex;
  flex-direction: column;
 justify-content: center; 
  align-items: center; 
  gap: 20px; /* Distanza tra immagini sopra e sotto */
   width: 100%; /* immagini larghe il 100% della larghezza della finestra */
  height: auto; /* Mantiene le proporzioni dell'immagine */
  max-width: 100vw;
    
}

.gallery img {
  width: 100%; /* immagini larghe il 100% della larghezza della finestra */
  height: auto; /* Mantiene le proporzioni dell'immagine */
  
}

 
main img, main-studio img {
  max-width: 100%;
  height: auto;
}



figure {
  display: flex;
  flex-flow: column;
  padding: 0px;
  max-width: 600px;
  max-height: 600px;  /* Modifica larghezza immagini e figcaption */
  align-items: center;
  
}


figcaption {
  font-family: 'Nimbus Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: black;
  text-decoration: none;
     }
	 
	 figcaption a {
  text-decoration: none;
  color: black;
     }



.img-hover-zoom {
    position: relative; /* Per posizionare il figcaption */
    overflow: hidden; /* Nasconde l'overflow degli elementi figlio */
    transition: opacity 0.3s ease; /* Effetto fade in */
}

.img-hover-zoom img {
    transition: transform 0.3s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.2); /* Effetto zoom */
}

.img-hover-zoom figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.sliderstudio {
  max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
  margin-bottom: 50px;
  scroll-snap-type: x mandatory;
  
  }
  
  
  .slider2studio {
	max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
  margin-bottom: 50px;
  scroll-snap-type: x mandatory;

}



.slider3studio {
	max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
   margin-bottom: 50px;
  scroll-snap-type: x mandatory; 
}

.slider {
  max-width: 100%;
   height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
  margin-bottom: 50px;
  scroll-snap-type: x mandatory;
 

 }
 
 


.slider2 {
	max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
  margin-bottom: 50px;
  scroll-snap-type: x mandatory;

}

.slider3 {
	max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
   margin-bottom: 50px;
  scroll-snap-type: x mandatory; 
}


.slider4 {
	max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
  margin-bottom: 50px;
  scroll-snap-type: x mandatory;

}

.slider5 {
	max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
  margin-bottom: 50px;
  scroll-snap-type: x mandatory;

}

.slider6 {
	max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
  margin-bottom: 50px;
  scroll-snap-type: x mandatory;

}

.slider7 {
	max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
  margin-bottom: 50px;
  scroll-snap-type: x mandatory;

}

.slider8 {
	max-width: 100%;
  height: auto;
  display: flex;
 overflow-x: auto;
  gap: 20px;
  scroll-snap-type: x mandatory;

}


#about-img  {
	display: flex;
  flex-direction: column;
  order: 1;
     }


 .box-1, .box-2  {
  color: black;
  text-align: justify;
  display: flex;
  flex-direction: column;
	 }
	  
	
  .box-1 {
  order: 1;
   margin-top: 30px; 
  margin-left: 20px;
   margin-right: 20px; 
	 }

	.box-2 {
  order: 2;
   margin-bottom: 30px;
   margin-left: 20px;
   margin-right: 20px; 
  }
	  
	 h1  {
	font-family: 'Poppins', sans-serif;
  font-size: 120%;
  font-weight: 800;
  margin-top: 30px; 
     }
	 
	   h2  {
	font-family: 'Poppins', sans-serif;
  font-size: 100%;
  font-weight: 700;
   margin-top: 6px;
 margin-bottom: 6px;    
     }
	 
	p  {
font-family: 'Garamond', serif;		
  font-weight: 400;
  font-size: 115%;
   margin-top: 10px;
   line-height: 1.5; /* Altezza della linea più ampia */
   }
   
   #corsivo {
font-family: 'Garamond', serif;		
  font-weight: 600;
  font-size: 150%;
   text-align: center;
  letter-spacing: 0.1px;
   margin-top: 10px;
   line-height: 1.5; /* Altezza della linea più ampia */
   }
  
  
  
  .contatto-1 p, .contatto-2 p, .contatto-3 p
   {
display: flex;
flex-direction: row;
font-family: 'Poppins', sans-serif;
  font-size: 120%;
  font-weight: 800;
  margin-top: 30px;
  color: black;
  text-align: justify;
   }
  
  .contatto-1 img, .contatto-2 img, .contatto-3 img
   {
display: flex;
flex-direction: row;
height: auto;
margin: 0;
   }
  
  .slider img, .slider2 img, .slider3 img, .slider4 img, .slider5 img, .slider6 img, .slider7 img, .slider8 img  {

   width: 100%;
	height:auto;
	scroll-snap-align: center; 
 object-fit: contain;  	
}




.sliderstudio img, .slider2studio img, .slider3studio img  {

    width:100% ;
	height:auto;
	scroll-snap-align: center;
	
	
}

#fotoindex-desktop {

    display: none;
			
}




.sliderstudio::-webkit-scrollbar {
height: 10px;

}

.sliderstudio::-webkit-scrollbar-track {
background: lightgray;

}
.sliderstudio::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}



.slider2studio::-webkit-scrollbar {
height: 10px;

}

.slider2studio::-webkit-scrollbar-track {
background: lightgray;

}
.slider2studio::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}


.slider3studio::-webkit-scrollbar {
height: 10px;

}

.slider3studio::-webkit-scrollbar-track {
background: lightgray;

}
.slider3studio::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}


.slider::-webkit-scrollbar {
height: 10px;

}

.slider::-webkit-scrollbar-track {
background: lightgray;

}
.slider::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}



.slider2::-webkit-scrollbar {
height: 10px;

}

.slider2::-webkit-scrollbar-track {
background: lightgray;

}
.slider2::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}



.slider3::-webkit-scrollbar {
height: 10px;

}

.slide3::-webkit-scrollbar-track {
background: lightgray;

}
.slider3::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}


.slider4::-webkit-scrollbar {
height: 10px;

}

.slide4::-webkit-scrollbar-track {
background: lightgray;

}
.slider4::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}


.slider5::-webkit-scrollbar {
height: 10px;

}

.slide5::-webkit-scrollbar-track {
background: lightgray;

}
.slider5::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}



.slider6::-webkit-scrollbar {
height: 10px;

}

.slide6::-webkit-scrollbar-track {
background: lightgray;

}
.slider6::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}


.slider7::-webkit-scrollbar {
height: 10px;

}

.slide7::-webkit-scrollbar-track {
background: lightgray;

}
.slider7::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}


.slider8::-webkit-scrollbar {
height: 10px;

}

.slide8::-webkit-scrollbar-track {
background: lightgray;

}
.slider8::-webkit-scrollbar-thumb {
background: orange;
 border-radius: 10px;
}



/* MEDIA QUERY */


@media all and (min-width: 768px)
{

body {
    
  min-height: 100vh;
	
	} 
	

.container {
        flex-direction: row;
        flex-wrap: wrap;		
    }


	
    
	header,footer {
        width: 100%;
		height: 100px;
		padding: 37.2px;
    }
   
   
   .left-sidebar {
        order: 1;
        flex: 0.5;
		position: relative;
		text-align: center;
        padding: 25px;	  
    
	
	}
	
   main {
        flex: 3;
        order: 2;
        min-height: 80vh;
		margin-top: 100px;
		margin-bottom: 100px;

		
    }
	
	main-studio {
        flex: 3;
        order: 2;
        min-height: 80vh;
			margin-top: 105px;
		margin-bottom: 105px;	
    }
	
	main img {
        width: 100%;
		height: auto;
		
    }
    
    
    .right-sidebar {
        flex: 0.5;
        order: 3;
		 padding: 25px;
		 background-color: transparent;
		  
	
		
		
    }
    footer {
        order: 4;
    }

.gallery {
		display: flex;
        flex-direction: row;
		flex-wrap: wrap;
		justify-content: center; 
        align-items: center; 
        gap: 20px; /* Distanza tra immagini sopra e sotto */
		
    }
	
	
	.gallery img {
  width: 100vw; /* immagini larghe l'85% della larghezza della finestra */
  height: auto; /* Mantiene le proporzioni dell'immagine */

  }
	 
	 main img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto; 
}
    
	
	   
	#burgermenùprojects {
    display: block;
    width: 40px;
    height: 40px;
	position: fixed;
	 top: 50%;
    left: 8.6%;
    transform: translate(-50%, -50%);	    
  }
  
  
     
	#burgermenù {
    display: block;
    width: 40px;
    height: 40px;
	position: fixed;
	 top: 50%;
    left: 8.6%;
    transform: translate(-50%, -50%);	    
  }
  
	
	
         
   .left-sidebar ul {
    display: none;
	
  }	
         
  
  
  
  .sliderstudio, .slider2studio, .slider3studio {
  display: flex;
overflow-x: auto;
  justify-content: left; 
  align-items: left; 
  gap: 20px; /* Distanza tra immagini sopra e sotto */
 
  
 
}
  
  .slider, .slider2, .slider3, .slider4, .slider5, .slider6, .slider7, .slider8 {
  display: flex;
overflow-x: auto;
  justify-content: left; 
  align-items: left; 
  gap: 20px; /* Distanza tra immagini sopra e sotto */
 
  
 
}

 

.gallery img {
  width: 100vw; /* immagini larghe l'85% della larghezza della finestra */
  height: auto; /* Mantiene le proporzioni dell'immagine */
}
	
	
	
	.box-1, .box-2  {
  color: black;
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 100%
	 }
	  
	
  .box-1 {
  order: 1;
   margin-top: 30px; 
	 }


	.box-2 {
  order: 2;
   margin-bottom: 30px;
  }
	  
	 h1  {
	font-family: 'Poppins', sans-serif;
  font-size: 140%;
  font-weight: 800;
  margin-top: 30px; 
     }
	 
	   h2  {
	font-family: 'Poppins', sans-serif;
  font-size: 120%;
  font-weight: 700;
   margin-top: 6px;
 margin-bottom: 6px;    
     }
	 
	p  {
font-family: 'Garamond', serif;		
  font-weight: 400;
  font-size: 135%;
   margin-top: 10px;
   line-height: 1.5; /* Altezza della linea più ampia */
   }
   
   #corsivo {
font-family: 'Garamond', serif;		
  font-weight: 600;
  font-size: 170%;
   text-align: center;
  letter-spacing: 0.1px;
   margin-top: 10px;
   line-height: 1.5; /* Altezza della linea più ampia */
   }
  
  
  .sliderstudio img, .slider2studio img, .slider3studio img {

    width:100% ;
	height:auto;
	
}
  
  
  .slider img, .slider2 img, .slider3 img, .slider4 img, .slider5 img, .slider6 img, .slider7 img, .slider8 img {

    width:100% ;
	height:auto;
	
   
}

   

}


@media all and (min-width: 992px)
{
	
	body {
    min-height: 100vh;
	} 
	

.container {
        
        flex-direction: row;
        flex-wrap: wrap;    
    } 
    
	header,footer {
        width: 100%;
    }
   
   main {
        flex: 3;
        order: 2;
        min-height: 80vh;
		display: flex;
		flex-direction: row;
    }
	
	   main-studio {
       flex: 3;
        order: 2;
        min-height: 80vh;
		min-width: 90vw;
		
    }
	
	  
	  #fotoindex-mobile {
        width: 600px;
		height: auto;
		
    }
	  
    
	main-studio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  
}
	
	
    .left-sidebar {
        order: 1;
        flex: 0.5;

		
		
    }
    .right-sidebar {
        flex: 0.5;
        order: 3;
    }
    footer {
        order: 4;
    }

.gallery {
		display: flex;
        flex-direction: row;
    }

.left-sidebar ul {
    display: block;
  }
  

 

#burgermenù img {
    display: none;
    width: 40px;
    height: 40px;
  }


figure {
  display: flex;
  flex-flow: column;
  padding: 0px;
  max-width: 300px;
  max-height: 300px;  /* Modifica larghezza immagini e figcaption */
  align-items: center;
}



.sliderstudio, .slider2studio, .slider3studio {
  display: flex;
  overflow-x: auto;
   justify-content: left; 
  align-items: left;  
  gap: 20px; /* Distanza tra immagini sopra e sotto */
    min-width: 95vw;
	

}

.slider, .slider2, .slider3, .slider4, .slider5, .slider6, .slider7, .slider8 {
  display: flex;
  overflow-x: auto;
   justify-content: left; 
  align-items: left;  
  gap: 20px; /* Distanza tra immagini sopra e sotto */
    min-width: 95vw;
	

}




 .navigation {
    display: block;
	position: fixed;
	 top: 50%;
    left: 8.6%;
    transform: translate(-50%, -50%);	  
  }

	.box-1, .box-2  {
  color: black;
  text-align: justify;
margin-top: 10px;
margin-bottom: 10px;
	 }
	
	 
	 .box-1  {
		width: 345%;
		margin-left: 0px;	
	 }
	 
	 	 .box-2  {
		width: 345%;
		margin-right: 0px;
	 }
	 
	
	 h1  {
    font-size: 150%;    
     }
	
	 h2  {
    font-size: 130%;    
     }
	
	p  {	
    font-size: 145%;
	margin-top: 10px; /* Add margin between paragraphs */
   }
   
     
   #corsivo {
font-family: 'Garamond', serif;		
  font-weight: 900;
  font-size: 170%;
   text-align: center;
}



.sliderstudio img, .slider2studio img, .slider3studio img {

    width:420px ;
	height:auto;
}



.slider img, .slider2 img, .slider3 img, .slider4 img, .slider5 img, .slider6 img, .slider7 img, .slider8 img {

    width:auto ;
	height:630px;
	 object-fit: contain; 
}


}


@media all and (min-width: 1200px)
{

body {
    min-height: 100vh;
	} 
	

.container {
    display: flex;
	flex-direction: row;
	} 
	
	
	header,footer {
        width: 100%;
    }

	
	 main {
        flex: 3;
        order: 2;
        min-height: 80vh;
			
    }
	
		  main-studio {
        flex: 3;
        order: 2;
        min-height: 80vh;
		min-width: 90vw;
			
    }

	
    
    .left-sidebar {
        order: 1;
        flex: 0.5;
    }
    .right-sidebar {
        flex: 0.5;
        order: 3;
    }
    footer {
        order: 4;
    }
	
	
.gallery {
		display: flex;
        flex-direction: row;
		}
		

.left-sidebar ul {
    display: block;
  }

.navigation {
    display: block;
	position: fixed;
	 top: 50%;
    left: 7.5%;
    transform: translate(-50%, -50%);	  
  }
  
  
  
  .box-1, .box-2  {
  color: black;
  text-align: justify;
margin-top: 10px;
margin-bottom: 10px;
	 }
	
	 
	 .box-1  {
		width: 140%;
		margin-left: 0px;	
		margin-right: 30px;
	 }
	 
	 .box-1 img {
		width: 140%;
		margin-left: 0px;	
	 }
	 
	 	 .box-2  {
		width: 240%;
		margin-right: 0px;
		margin-left: 30px;
	 }
	 
	
	 h1  {
    font-size: 150%;   
text-align: left;

     }
	
	 h2  {
    font-size: 130%;    
     }
	
	p  {	
    font-size: 145%;
	margin-top: 10px; /* Add margin between paragraphs */
   }
   
     
   #corsivo {
font-family: 'Garamond', serif;		
  font-weight: 900;
  font-size: 200%;
   text-align: center;
   order: -1;
   margin-bottom: 50px;
}


.sliderstudio, .slider2studio, .slider3studio {	
    justify-content: left; 
  align-items: left; 
}


.sliderstudio img, .slider2studio img, .slider3studio img {
width: 320px;
	height:auto;
}


.slider, .slider2, .slider3, .slider4, .slider5, .slider6, .slider7, .slider8 {	
    justify-content: left; 
  align-items: left; 
}


.slider img, .slider2 img, .slider3 img, .slider4 img, .slider5 img, .slider6 img, .slider7 img, .slider8 img {

	
	object-fit: contain;
	width:auto ;
	height:480px;
}

#fotoindex-mobile {

    display: none;
	
		
}


#fotoindex-desktop {

    display: block;
    width: 800px;
    height: auto;	
    }


}

@media all and (min-width: 1600px)
{
	
	body {
    min-height: 100vh;
	} 
	
	 .box-1, .box-2  {
  color: black;
  text-align: justify;
margin-top: 10px;
margin-bottom: 10px;
	 }
	
	 
	 .box-1  {
		width: 400%;
		margin-left: 0px;	
		margin-right: 30px;
	 }
	 
	 .box-1 img {
		width: 400%;
		margin-left: 0px;	
	 }
	 
	 	 .box-2  {
		width: 200%;
		margin-right: 0px;
		margin-left: 30px;
	 }
	 
	
	 h1  {
    font-size: 170%;   
text-align: left;

     }
	
	 h2  {
    font-size: 150%;    
     }
	
	p  {	
    font-size: 165%;
	margin-top: 10px; /* Add margin between paragraphs */
   }
   
     
   #corsivo {
font-family: 'Garamond', serif;		
  font-weight: 900;
  font-size: 220%;
   text-align: center;
   order: -1;
   margin-bottom: 50px;
}
 
  main-studio {
        flex: 3;
        order: 2;
        min-height: 80vh;
		min-width: 90vw;
		
			
    }
 
 
 
 .sliderstudio, .slider2studio, .slider3studio  {

    min-width: 95vw;	
    justify-content: left; 
  align-items: left;

  
}

.sliderstudio img, .slider2studio img, .slider3studio img{

    width: 520px;
	height:auto;
}
 
 
  .slider, .slider2, .slider3, .slider4, .slider5, .slider6, .slider7, .slider8 {

    min-width: 95vw;	
    justify-content: left; 
  align-items: left;

  
}

.slider img, .slider2 img, .slider3 img, .slider4 img, .slider5 img, .slider6 img, .slider7 img, .slider8 img {
object-fit: contain;
	width:auto ;
	height:780px;
    
}

 

 
}

@media all and (min-width: 1900px)
{
	body {
    min-height: 100vh;
	} 

 
   #fotoindex-desktop {
 display: block;
 width: 1200px;
 height: auto;	
    }
	
{
